/*
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557
*/

* {
    margin: 0;
    text-align: center;
    font-family: 'Barlow', sans-serif;
}

/* HERO SECTION */

#hero-section {
    background-image: url(images/lagos.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 720px; */
    width: 55%;
    height: 343px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.hero--heading {
    font-size: 32px;
    font-weight: 600;
    color: #1D3557;
    background: #F1FAEE;
    border-radius: 10px;
    padding: 4px 12px;
    margin: 192px auto 0 auto;
}

.hero--h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: white;
    background: #316a66;
    padding: 4px 12px;
    border-radius: 10px;
    width: 50%;
    margin: 10px auto 0;
}

/* ACTIVITIES SECTION */

#act-section {
    width: 55%;
    margin: auto;
    background: #F1FAEE;
}

.act--heading {
    font-size: 24px;
    font-weight: 600;
    color: #1D3557;
    padding-top: 36px;
}

.top-act-section {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    margin: 40px auto auto;
    padding: 0 32px 24px;
}

.act * {
    color: #1D3557;
}

.act--image {
    border-radius: 50%;
}

.act--h4 {
    font-weight: 700;
    font-size: 16px;
    margin-top: 12px;
}

.act--par {
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
}

/* GUIDE SECTION */

#guide-section {
    width: 30%;
    margin: 50px auto 36px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #A8DADC;
    border-radius: 10px;
    border-bottom: 5px solid #1D3557;
}

.guide--img-cont {
    display: flex;
    align-items: center;
    padding: 24px 0 24px 14px;
}

.guide--img {
    border-radius: 10px;
}

.guide--text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.guide--text-area * {
    padding: 0px 10px 16px;
    color: #1D3557;
}

.guide--heading {
    font-weight: 700;
    font-size: 24px;
}

.guide--profile {
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
}

.guide--name {
    font-weight: 700;
    font-size: 16px;
}

/* FOOTER SECTION */

footer {
    width: 55%;
    margin: auto;
}

.footer--text {
    font-size: 8px;
    background: #F1FAEE;
    padding: 8px;
}

/*RESPONSIVE MODE*/

@media screen and (max-width: 480px) {

/* HERO SECTION */

#hero-section {
    width: 100%;
    background-image: url(images/lagos-mobile.png);
}

.hero--heading {
    font-size: 28px;
    margin: 172px auto 0 auto;
}

.hero--h2 {
    font-size: 16px;
    border-radius: 10px;
    width: 60%;
}

/* ACTIVITIES SECTION */

#act-section {
    width: 100%;
}

.act--heading {
    font-size: 20px;
}

.top-act-section {
    flex-direction: column;
    gap: 60px;
    align-items: center;
    padding-bottom: 40px;
}

.act * {
    width: 60%;
}

.act--image {
    width: 30%;
}

.act--h4 {
    margin: 12px auto auto auto;
}

.act--par {
    margin: 10px auto auto auto;
}

/* GUIDE SECTION */

#guide-section {
    width: 70%;
    flex-direction: column;
}

.guide--img-cont {
    padding: 20px 0;
}

.guide--img {
    border-radius: 10px;
}

.guide--heading {
    font-size: 20px;
}

.guide--profile {
    font-size: 14px;
}

.guide--name {
    font-size: 14px;
}

footer {
    width: 100%;
}
}